<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:insert="templates/fragments :: head(title='eElectronics : Login')">
</head>
<body>

<div class="d-flex overflow-hidden vh-100 flex-column">
    <div class="m-auto border border-success" style="width: 40rem;">
        <form method="POST" th:action="@{/login}">
            <div class="modal-header justify-content-center">
                <h5 class="modal-title">Login</h5>
            </div>
            <div class="modal-body">
                <div class="form-group row mb-4">
                    <label class="col-sm-2 col-form-label" for="login_field">Sign in</label>
                    <div class="col-sm-10">
                        <input class="form-control border border-success" id="login_field"
                               name="username" type="text">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label" for="password_field">Password</label>
                    <div class="col-sm-10">
                        <input class="form-control border border-success" id="password_field"
                               name="password" type="Password">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" onclick="history.back();" type="button">Back</button>
                <a class="btn btn-secondary" href="#" th:href="@{/registration}">Registration</a>
                <button class="btn btn-success" type="submit">Login</button>
            </div>
        </form>
    </div>
</div>

<!--only scripts-->
<footer th:replace="admin/templates/fragments ::footer"></footer>
</body>
</html>
