<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:insert="templates/fragments :: head(title='eElectronics - HTML eCommerce Template')">
</head>
<body>
<div th:replace="templates/fragments :: header(current='Template')"></div>

<div th:replace="templates/fragments :: titleArea(text='Template')"></div>

<div class="row">
    <div class="col">
        <!-- for you content start -->


        <!-- for you content end -->
    </div>
</div>

<div th:replace="templates/fragments :: footer"></div>
</body>
</html>
